.App {
  width: 100vw;
  height: 100vh;
  background-color: var(--background-primary);
  color: var(--text-primary);
  display: flex;
  flex-direction: column;
  
}

/* Removes the auto complete background colour on MUI's textfield*/
.css-qb7u9c-MuiInputBase-input-MuiOutlinedInput-input:-webkit-autofill,
.css-3fxpjh-MuiInputBase-input-MuiOutlinedInput-input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 100px var(--background-primary) inset !important;
}
/* For MUI's label going outside the input for the default size*/
.css-qb7u9c-MuiInputBase-input-MuiOutlinedInput-input {
  height: auto !important;
}
/* For MUI's label going outside the TextField for the small size */
.css-3fxpjh-MuiInputBase-input-MuiOutlinedInput-input {
  height: auto !important;
}
